{% extends "rezsched/orgsetupbase.html" %}

{% block title %}Rezsched::Academic Year Setup{% endblock %}

{% block academiccurrent %}{% endblock %}
{% block generalcurrent %}{% endblock %}
{% block schedulecurrent %}class="current"{% endblock %}
{% block rotationcurrent %}{% endblock %}
{% block sessioncurrent %}{% endblock %}
{% block leavecurrent %}{% endblock %}

{% block header2 %}
    <h2><strong> Academic Year Setup </strong> </h2>
{% endblock %}

{% block content %}
    <h4>Schedule Block Setup</h4>

    <form method="post" action=".">
    {% if orgyearschedulesetup_list %}
        {% for block in orgyearschedulesetup_list %}
            {% if forloop.counter == 1 %}
                Organization: {{ block.organization }} &nbsp; Organization Year: {{ block.organizationYear }}
            {% endif %}
        {% endfor %}


        <table id="common">
            <tr><th>Block ID</th><th>Description</th><th>Block Start</th><th>Block End</th></tr>
            {% for block in orgyearschedulesetup_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
            <td><a href="/rezsched/orgyear/schedule/{{ block.id }}/">{{ block.code}} </a></td>
            <td>{{ block.description }}</td>
            <td>{{ block.sDateBeg }}</td>
            <td>{{ block.sDateEnd }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Blocks have been entered.</p>
    {% endif %}
    <br>

        {% csrf_token %}
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/schedule/add/">Add New</button>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/">Return/Cancel</button>
    </form>

{% endblock %}

