{% extends "rezsched/base.html" %}

{% block title %}Rezsched::Clinic Type List{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/rezsched/clinic/">Clinic Types</a></li>
        <li><a href="#" class="current">Clinic Counts</a></li>
        <li><a href="/rezsched/clinic/holiday/">Clinic Holidays</a></li>
    </ul>
{% endblock  %}
{% block header2 %}
    <h2><strong>Clinic Count Information </strong> </h2>
{% endblock %}
{% block content %}
    <h4>Current Clinic Count Listing:</h4>
    <form method="link" action="">
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/clinic/counts/add/">Add Clinic Count Entry</button>
    </form>
    {% if blockresidenttypecount_list %}
        <table id="common">
            <tr><th>Schedule Block</th><th>Resident Type</th><th>Min. Sessions</th><th>Max. Sessions</th><th>Session Weight</th></tr>
            {% for blockresidenttypecount in blockresidenttypecount_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
            <td><a href="/rezsched/clinic/counts/{{ blockresidenttypecount.id }}/">{{ blockresidenttypecount.blockRef }} </a></td>
            <td>{{ blockresidenttypecount.residentTypeRef }}</td>
            <td>{{ blockresidenttypecount.minSession }}</td>
            <td>{{ blockresidenttypecount.maxSession }}</td>
            <td>{{ blockresidenttypecount.ptsSession }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Clinic Counts have been entered.</p>
    {% endif %}
{% endblock %}