{% extends "rezsched/base.html" %}

{% block title %}Rezsched::Clinic Availability List{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="#" class="current">Clinic Avail. Listing</a></li>
        <li><a href="/rezsched/clinicavailability/add/">Add/Change Clinic Avail.</a></li>
        <li><a href="/rezsched/clinicavailability/custom/">Custom Details</a></li>
    </ul>
{% endblock  %}

{% block content %}
    <h4>Current Clinic Availability Listing:</h4>
    {% if clinicavailability_list %}
        <table id="common">
            <tr><th>Rotation</th><th>Office Hours</th><th>Resident Type</th><th>Confirmation Code</th></tr>
            {% for clinicavailability in clinicavailability_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
            <td><a href="/rezsched/clinicavailability/{{ clinicavailability.id }}/">{{ clinicavailability.rotationRef.code}}  </a></td><td>{{clinicavailability.officeHrsRef }}</td>
            <td>{{ clinicavailability.residentTypeRef }}</td>
            <td> {{ clinicavailability.clinicScheduleTypeRef }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Clinic Availability entries have been made.</p>
    {% endif %}
{% endblock %}
