{% extends "rezsched/base.html" %}
{% block title %}Rezsched::Office Hours Custom Details{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/rezsched/officehours/>Office Hours Listing</a></li>
        <li><a href="/rezsched/officehours/add/" class="current">Add/Change Office Hours</a></li>
        <li><a href="/rezsched/officehours/custom/" class="current">Custom Details</a></li>
    </ul>
{% endblock  %}

{% block content %}
    <h2>Coming Soon: Custom Office Hours Features</h2>

{% endblock %}