{% extends "rezsched/orgsetupbase.html" %}

{% block academiccurrent %}class="current"{% endblock %}
{% block generalcurrent %}{% endblock %}
{% block schedulecurrent %}{% endblock %}
{% block rotationcurrent %}{% endblock %}
{% block sessioncurrent %}{% endblock %}
{% block leavecurrent %}{% endblock %}

{% block content %}
    {% block header4 %}<p>Academic Year Listing:</p>{% endblock %}
    <form method="link" action="">
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/add/">Create Academic Year</button>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/">Copy from Prior Academic Year</button>

    </form>
    {% if organizationyear_list %}
        <table id="common">
            <tr><th>Academic Year</th><th>Year Start</th><th>Year End</th></tr>
            {% for organizationyear in organizationyear_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
                    <td><a href="/rezsched/orgyear/{{ organizationyear.id }}/">{{ organizationyear.yearDescr }}</a></td>&nbsp; <td> {{ organizationyear.yearStartDate }}</td>
                    <td> {{ organizationyear.yearEndDate }}</td> </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Years have been entered.</p>
    {% endif %}
    <br>


{% endblock %}
