{% extends "rezsched/orgsetupbase.html" %}

{% block title %}Rezsched::Resident Processing{% endblock %}


{% block content %}
    <p><h4> {% block header4 %}Modify Object Info{% endblock %}</h4>

    <form method="post" action=".">

        {% csrf_token  %}
        <table id="entry-form">
            {{ form.as_table }}
        </table>
        <br>
        <button type="submit" class="btn-small btn-primary">Save Changes</button>
        <button type="reset" class="btn-small">Reset Fields</button>
    </form>
{% endblock %}