{% extends "rezsched/baseentry.html" %}

{% block title %}Rezsched::Resident Processing{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/rezsched/resident/type/">Resident Types</a></li>
        <li><a href="#" class="current">Resident Information</a></li>
        <li><a href="/rezsched/resident/leave/">Resident Leave</a></li>
    </ul>
{% endblock  %}
{% block header2 %}
    <h2><strong>Resident Information </strong> </h2>
{% endblock %}
{% block header4 %} Modify Resident Information {% endblock  %}

