{% extends "rezsched/baseentry.html" %}
{% block title %}Rezsched::Resident Leave Entry{% endblock %}
{% block jsquery-inline %}
    <script type="text/javascript">
        $(function() {
            $('#residentLeave tbody tr').formset({
                prefix: '{{ formset.prefix }}'
            });
        })
    </script>

{% endblock %}
{{ resformset.media }}
{% block menubar %}
    <ul xmlns="http://www.w3.org/1999/html">
        <li><a href="/rezsched/resident/type/">Resident Types</a></li>
        <li><a href="/rezsched/resident/add/">Resident Information</a></li>
        <li><a href="#" class="current">Resident Leave</a></li>
    </ul>
{% endblock  %}
{% block header2 %}
    <h2><strong>Resident Setup</strong> </h2>
{% endblock %}
{% block content %}
    <form id="residentLeave" method="post" action="">
        {% csrf_token %}

        {% if dispContext %}
            <h4> Resident:  {{ dispContext }} </h4>

        {% endif %}
        {% if formset %}
            {{ formset.management_form }}

            {% if dispSaveError %}
                <p>{{ dispSaveError }}</p>
            {% endif %}

            {% if count <= 5 %}

                <button type="submit" name="submit" class="btn-small btn-primary">Save Changes and Return</button>
                <button type="submit" name="cancel" class="btn-small btn-primary">Cancel and Return</button>
                <br>
                <br>
            {% endif %}


            <table id="common">

                {% for form in formset %}
                    {{ form.id }}
                    {% csrf_token %}
                    <tr>
                        {% if forloop.counter == 1 %}
                            {% for field in form %}
                                {% if field.name == 'unavailRef' or field.name == 'officeHoursRef' or field.name == 'dateBeg' or field.name == 'dateEnd' %}
                                    <th>{{ field.label_tag }}</th>
                                {% endif %}
                                {% if field.name == 'organization' or field.name == 'organizationYear'  %}
                                    <th>{{ field.label_tag }}</th>
                                {% endif %}
                            {% endfor %}
                            <th>Delete</th>
                        {% endif %}

                    </tr>
                {% endfor %}
                {% for form in formset %}
                    {{ form.id }}
                    <tbody>
                    <tr>
                        {% for field in form %}
                            {% if field.name == 'unavailRef' or field.name == 'officeHoursRef' or field.name == 'dateBeg' or field.name == 'dateEnd'  %}
                                <td>{{ field }}</td>
                            {% endif %}

                            {% if field.name == 'organization' or field.name == 'organizationYear' %}
                                <td>{{ field }}</td>
                            {% endif %}

                        {% endfor %}
                        <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            {% if count > 5 %}
                <br>
                <button type="submit" name="submit" class="btn-small btn-primary">Save Changes and Return</button>
                <button type="submit" name="cancel" class="btn-small btn-primary">Cancel and Return</button>
            {% endif %}
        {% endif %}
        <br>

    </form>
{% endblock %}