{% extends "rezsched/base.html" %}

{% block title %}Rezsched::Resident List{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/rezsched/resident/type/">Resident Types</a></li>
        <li><a href="#" class="current">Resident Information</a></li>
        <li><a href="/rezsched/resident/leave/">Resident Leave</a></li>
    </ul>
{% endblock  %}
{% block header2 %}
    <h2><strong>Resident Information </strong> </h2>
{% endblock %}
{% block content %}
    <h4>Current Resident Listing:</h4>
    <form method="link" action="">
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/resident/add/">Add Resident</button>
    </form>
    {% if resident_list %}
        <table id="common">
        <tr><th>Resident Name</th><th>Resident Team</th><th>Resident Type</th></tr>
            {% for resident in resident_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                {% else %}
                    <tr>
                {% endif %}
                        <td><a href="/rezsched/resident/{{ resident.id }}/">{{ resident.lastName }}, {{resident.firstName }} </a></td>
                        <td>{{ resident.residentTeam }}</td>
                        <td> {{ resident.residentYear }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Residents have been entered.</p>
    {% endif %}
{% endblock %}

