{% extends "rezsched/baseentry.html" %}
{% block title %}Rezsched::Resident Elective Details{% endblock %}
{{ resformset.media }}
{% block menubar %}
    <ul xmlns="http://www.w3.org/1999/html">
        <li><a href="/rezsched/resident/type/">Resident Types</a></li>
        <li><a href="/rezsched/resident/">Resident Information</a></li>
        <li><a href="/rezsched/resident/leave/">Resident Leave</a></li>
    </ul>
{% endblock  %}
{% block header2 %}
    <h2><strong>Resident Electives </strong> </h2>
{% endblock %}
{% block content %}
    <form method="post" action="">
    {% csrf_token %}
    {%   if resformset %}
        <table id="common">
        {{ resformset.management_form }}
        {% for form in resformset %}
            {{ form.id }}
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'organization' or field.name == 'organizationYear' or field.name == 'firstName' or field.name == 'lastName'%}
                    <tr>
                        <th>{{ field.label_tag }}</th>
                        {%  if field.name == 'organization' or field.name == 'organizationYear' %}
                            <td>{{ field.verbose_name }}</td>
                        {% else %}
                            <td>{{ field.value }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}


        {% endfor %}
        </table>
        <br>
    {%   endif %}
    {% if formset %}
        <table id="common">
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.id }}
                {% csrf_token %}
                <tr>
                    {% if forloop.counter == 1 %}
                        {% for field in form %}
                            {% if field.name == 'rotationRef' or field.name == 'blockRef' %}
                                <th>{{ field.label_tag }}</th>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
            {% for form in formset %}
                {{ form.id }}
                <tr>
                    {% for field in form %}
                        {% if field.name == 'rotationRef' or field.name == 'blockRef' %}
                            <td>{{ field }}</td>
                        {% endif %}
                        {% if field.name == 'organization' or field.name == 'organizationYear' %}
                            <p>{{ field }}</p>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>
        <button type="submit" class="btn-small btn-primary">Save Changes</button>
    </form>
{% endblock %}