{% extends "rezsched/baseentry.html" %}

{% block title %}Rezsched::Resident Type Processing{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="#" class="current">Resident Types</a></li>
        <li><a href="/rezsched/resident/">Resident Information</a></li>
        <li><a href="/rezsched/resident/leave/">Resident Leave</a></li>
    </ul>
{% endblock  %}

{% block header2 %}
    <h2><strong>Resident Type Information </strong> </h2>
{% endblock %}
{% block header4 %} Modify Resident Type Information {% endblock  %}

