{% extends "rezsched/orgsetupbase.html" %}

{% block generalcurrent %}{% endblock %}
{% block schedulecurrent %}{% endblock %}
{% block rotationcurrent %}class="current"{% endblock %}
{% block sessioncurrent %}{% endblock %}
{% block leavecurrent %}{% endblock %}

{% block content %}
    {% block header4 %}<p>Organizational Year Rotations:</p>{% endblock %}

    <form method="link" action="">

        {% csrf_token  %}

        {% if schedRotations %}
            <table id="common">
                <tr><th>Rotation Code</th><th>Rotation Description</th><th>Active for Year?</th></tr>

                {% for item in schedRotations %}
                    {% if item.itemName == "Rotation" %}
                        {% if forloop.counter|divisibleby:2 %}
                            <tr class="alt">
                                {% else %}
                            <tr>
                        {% endif %}
                    <td>{{ item.code }}</td>
                    <td><input type="text" name="{{ item.code }}" id="{{ item.code }}" value="{{ item.description }}"></td>
                    <td> <input type="checkbox" name="{{ item.description }}" {% if item.rotationActive == "Y" %}checked=true {% else %} checked=false {% endif %} id="{{ item.description }}" value="{{ item.description }}"></td></tr>
                    {% else %}

                    {% endif %}

                {% endfor %}
            </table>
        {% else %}
            <p>Error retrieving information.</p>
        {% endif %}
        <br>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/rotation/add/">Add New</button>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/rotation/save/">Save Changes</button>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/">Return/Cancel</button>

    </form>
{% endblock %}