{% extends "rezsched/base.html" %}

{% block title %}Rezsched::Rotation Listing{% endblock %}

{% block menubar %}
        <ul xmlns="http://www.w3.org/1999/html">
            <li><a href="#" class="current">By Schedule</a></li>
            <li><a href="/rezsched/rotation/schedule/resident/">By Resident</a></li>
        </ul>
{% endblock  %}

{% block header2 %}
    <h2><strong>Rotation Schedule Setup </strong> </h2>
{% endblock %}

{% block content %}
    <h4>Search Rotation Schedule By Schedule Block:</h4>

    <form method="post" action=".">
        {% csrf_token %}
     </form>

    {% if blockset %}
        <table id="common">
            <tr><th>Block</th><th>Description</th></tr>
            {% for block in blockset %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
            <td><a href="/rezsched/rotation/schedule/block/{{ block.id }}/">{{ block.code}} </a></td>
            <td>{{ block.description }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Rotations have been entered.</p>
    {% endif %}
    <br>


{% endblock %}

