{% extends "rezsched/orgsetupbase.html" %}

{% block generalcurrent %}{% endblock %}
{% block schedulecurrent %}{% endblock %}
{% block rotationcurrent %}{% endblock %}
{% block sessioncurrent %}class="current"{% endblock %}
{% block leavecurrent %}{% endblock %}

{% block content %}
    {% block header4 %}<p>Organizational Year Sessions:</p>{% endblock %}
    <form method="link" action="">
        {% csrf_token  %}
        {% if schedSessions %}
            <table id="common">
                <tr><th>Weekday</th><th>Time Period</th><th>Start Time</th><th>End Time</th><th>Active for Year?</th></tr>

                {% for item in schedSessions %}
                    {% if item.itemName == "OfficeHours" %}
                        {% if forloop.counter|divisibleby:2 %}
                            <tr class="alt">
                                {% else %}
                            <tr>
                        {% endif %}
                    <td>{{ item.weekday }}</td>
                    <td>{{ item.period }}</td>
                    <td> <input type="text" size="10" name="{{ item.weekday }}{{ item.period }}Beg" id="{{ item.weekday }}{{ item.period }}Beg" value="{{ item.sTimeBeg }}"></td>
                    <td> <input type="text" size="10" name="{{ item.weekday }}{{ item.period }}End" id="{{ item.weekday }}{{ item.period }}End" value="{{ item.sTimeEnd }}"></td>
                    <td> <input type="checkbox" name="{{ item.weekday }}" {% if item.teamActive == "Y" %}checked=true {% else %} checked=false {% endif %} id="{{ item.period }}" value="{{ item.period }}"></td></tr>
                    {% else %}

                    {% endif %}

                {% endfor %}
            </table>
        {% else %}
            <p>Error retrieving information.</p>
        {% endif %}
        <br>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/session/add/">Add New</button>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/session/save/">Save Changes</button>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/">Return/Cancel</button>
    </form>
{% endblock %}