{% extends "rezsched/orgsetupbase.html" %}

{% block generalcurrent %}class="current"{% endblock %}
{% block schedulecurrent %}{% endblock %}
{% block rotationcurrent %}{% endblock %}
{% block sessioncurrent %}{% endblock %}
{% block leavecurrent %}{% endblock %}

{% block content %}
    {% block header4 %}<p>Organizational Year Teams:</p>{% endblock %}
    <form method="link" action="">
        {% csrf_token  %}
    {% if schedTeams %}
        <table id="common">
        <tr><th>Team Name</th><th>Active for Year?</th></tr>

        {% for item in schedTeams %}
            {% if item.itemName == "TeamType" %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
                <td>{{ item.description }}</td><td> <input type="checkbox" name="{{ item.description }}" {% if item.teamActive == "Y" %}checked=true {% else %} checked=false {% endif %} id="{{ item.description }}" value="{{ item.description }}"></td></tr>
            {% else %}

            {% endif %}

        {% endfor %}
        </table>
    {% else %}
        <p>Error retrieving information.</p>
    {% endif %}
    <br>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/team/add/">Add New</button>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/team/save/">Save Changes</button>
        <button type="submit" class="btn-small btn-primary" formaction="/rezsched/orgyear/">Return/Cancel</button>

    </form>
{% endblock %}