{% extends "pbfinancials/base.html" %}
{% block title %}pbfinancials::Clinic Availability Custom Details{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="pbfinancials/clinicavailability/">Clinic Avail. Listing</a></li>
        <li><a href="/pbfinancials/clinicavailability/add/">Add/Change Clinic Avail. </a></li>
        <li><a href="#" class="current">Custom Details</a></li>
    </ul>
{% endblock  %}

{% block content %}
    <h2>Coming Soon: Custom Clinic Availability  Features</h2>

{% endblock %}