{% extends "pbfinancials/base.html" %}

{% block title %}pbfinancials::Faculty List{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="#" class="current">Faculty Listing</a></li>
        <li><a href="/pbfinancials/faculty/add/">Add/Change Faculty</a></li>
        <li><a href="/pbfinancials/faculty/leave/">Faculty Leave</a></li>
        <li><a href="/pbfinancials/faculty/hours/">Faculty Availability</a></li>

    </ul>
{% endblock  %}

{% block content %}
    <h4>Current Faculty Listing:</h4>
    {% if faculty_list %}
        <table id="common">
            <tr><th>Faculty Name</th><th>Faculty Team</th></tr>
            {% for faculty in faculty_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
            <td><a href="/pbfinancials/faculty/{{ faculty.id }}/">{{ faculty.lastName }}, {{faculty.firstName }} </a></td>
            <td>{{ faculty.facultyTeam }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Faculty have been entered.</p>
    {% endif %}
{% endblock %}

