{% extends "pbfinancials/base.html" %}

{% block title %}pbfinancials::Home{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="#"  class="current">Yearly Setup</a></li>
        <li><a href="#">Rotation Dashboard</a></li>
        <li><a href="#">Clinic Dashboard</a></li>
    </ul>
{% endblock  %}

{% block content %}
    <p>Eventually the idea will be to list the outstanding tasks here.
    <ol>
        <li> {{ test }} </li>
        <li> Item One - Enter Schedule Types</li>
        <li> Item Two - Define Resident Years (Type) </li>
        <li> Etc.</li>
    </ol></p>
{% endblock %}

{% block footerlinks %}
    <ul>
        <li><a href="#">Sign-in</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">faqs</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
{% endblock %}