{% extends "pbfinancials/base.html" %}

{% block title %}pbfinancials::Organizational Setup{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/pbfinancials/orgyear/team/" {% block generalcurrent %}{% endblock %}>Teams</a></li>
        <li><a href="/pbfinancials/orgyear/schedule/" {% block schedulecurrent %}class="current"{% endblock %}>Schedules</a></li>
        <li><a href="/pbfinancials/orgyear/rotation/" {% block rotationcurrent %}{% endblock %}>Rotations</a></li>
        <li><a href="/pbfinancials/orgyear/session/" {% block sessioncurrent %}{% endblock %}>Sessions</a></li>
        <li><a href="/pbfinancials/orgyear/leave/" {% block leavecurrent %}{% endblock %}>Leave Types</a></li>
    </ul>
{% endblock  %}

{% block header2 %}
    <h2><strong>Organizational Setup </strong> </h2>
{% endblock %}

{% block content %}
    <h4>Current Block Listing:</h4>
    {% if orgyearschedulesetup_list %}
        <table id="common">
            <tr><th>Code</th><th>Description</th><th>Active</th></tr>
            {% for block in orgyearschedulesetup_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
            <td><a href="/pbfinancials/schedule/{{ block.code }}/">{{ block.description}} </a></td>
            <td>{{ block.description }}</td>
            <td>{{ block.blockActive }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Blocks have been entered.</p>
    {% endif %}
{% endblock %}

