{% extends "pbfinancials/base.html" %}

{% block title %}pbfinancials::Schedule Block List{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="#" class="current">Block Listing</a></li>
        <li><a href="/pbfinancials/block/add/">Add/Change Blocks</a></li>
        <li><a href="/pbfinancials/block/custom/">Block Custom Details</a></li>
    </ul>
{% endblock  %}

{% block content %}
    <h4>Current Schedule Block Listing:</h4>
    {% if block_list %}
        <table id="common">
            <tr><th>Block Code</th><th>Description</th><th>Start Date</th><th>End Date</th></tr>
            {% for block in block_list %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
            <td><a href="/pbfinancials/block/{{ block.id }}/">{{ block.code}}  </a></td><td>{{block.description }}</td>
            <td>{{ block.sDateBeg }}</td>
            <td> {{ block.sDateEnd }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Blocks have been entered.</p>
    {% endif %}
{% endblock %}