{% extends "pbfinancials/baseentry.html" %}

{% block title %}Pocketbook::Resident Processing{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/pbfinancials/resident/type/">Resident Types</a></li>
        <li><a href="#" class="current">Resident Information</a></li>
        <li><a href="/pbfinancials/resident/leave/">Resident Leave</a></li>
    </ul>
{% endblock  %}
{% block header2 %}
    <h2><strong>Account Information </strong> </h2>
{% endblock %}
{% block header4 %} Modify Account Information {% endblock  %}