{% extends "pbfinancials/baseentry.html" %}

{% block title %}pbfinancials::Faculty Processing{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/pbfinancials/faculty/">Faculty Listing</a></li>
        <li><a href="#" class="current">Add/Change Faculty</a></li>
        <li><a href="/pbfinancials/faculty/leave/">Faculty Leave</a></li>
        <li><a href="/pbfinancials/faculty/hours/">Faculty Availability</a></li>
    </ul>
{% endblock  %}

{% block header4 %} Modify Faculty Info {% endblock  %}

