{% extends "pbfinancials/baseentry.html" %}

{% block title %}pbfinancials::Holiday Clinic Data Entry{% endblock %}
{% block jsquery-dates %}
    <script>
        $(function() {
            $( "#id_sHolidayDate" ).datepicker();
        });
    </script>

{% endblock  %}
{% block menubar %}
    <ul>
        <li><a href="/pbfinancials/clinic/">Clinic Types</a></li>
        <li><a href="/pbfinancials/clinic/counts/">Clinic Counts</a></li>
        <li><a href="#" class="current">Clinic Holidays</a></li>
    </ul>
{% endblock  %}


{% block header4 %} Modify Clinic Holiday Info {% endblock  %}