{% extends "pbfinancials/base.html" %}

{% block title %}pbfinancials::Yearly Rotation List{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/pbfinancials/orgyear/">Yearly Setup</a></li>
        <li><a href="/pbfinancials/orgyear/rotation/"  class="current">Rotation Dashboard</a></li>
        <li><a href="/pbfinancials/resident/custom/">Clinic Dashboard</a></li>
    </ul>
{% endblock  %}

{% block content %}
    <h4>Rotation Setup</h4>

    {% if formset %}
        <form method="post" action="">
            {{ formset.management_form }}
            <table id="common">

                {% for form in formset %}
                        {% if forloop.counter == 1 %}
                            <tr>
                                {% for field in form %}
                                    <th>{{ field.label_tag }}</th>
                                {% endfor %}
                            </tr>
                        {% else %}
                            {% if forloop.counter|divisibleby:2 %}
                                    <tr class="alt">
                            {% else %}
                                    <tr>
                            {% endif %}
                                    {% for field in form %}
                                        <td> {{ field }} </td>
                                    {% endfor %}
                                    </tr>
                        {% endif%}
                {% endfor %}
            </table>
        </form>
        <br>
        <p>No Rotations have been selected. </p><br>
        <button type="submit" class="btn-small btn-primary">Use Base</button>
    {% endif %}
{% endblock %}