{% extends "pbfinancials/base.html" %}

{% block title %}pbfinancials::Rotation Listing{% endblock %}

{% block menubar %}
    <ul xmlns="http://www.w3.org/1999/html">
        <li><a href="/pbfinancials/rotation/schedule/">By Schedule</a></li>
        <li><a href="#" class="current">By Resident</a></li>
    </ul>
{% endblock  %}

{% block header2 %}
    <h2><strong>Rotation Schedule Setup </strong> </h2>
{% endblock %}

{% block content %}
    <h4>Search Rotation Schedule By Schedule Block:</h4>

    <form method="post" action=".">
        {% csrf_token %}
    </form>

    {% if residentset %}
        <table id="common">
            <tr><th>Resident</th><th>PGY</th><th>Team</th></tr>
            {% for resident in residentset %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="alt">
                        {% else %}
                    <tr>
                {% endif %}
            <td><a href="/pbfinancials/rotation/schedule/resident/{{ resident.id }}/">{{ resident.lastName}}, {{ resident.firstName }} </a></td>
            <td>{{ resident.residentYear }}</td><td>{{ resident.residentTeam }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Residents have been entered.</p>
    {% endif %}
    <br>


{% endblock %}

