{% extends "pbfinancials/base.html" %}
{% block title %}pbfinancials::Rotation Split and Rule Details{% endblock %}

{% block menubar %}
    <ul>
        <li><a href="/pbfinancials/rotation/">Rotation Listing</a></li>
        <li><a href="/pbfinancials/rotation/add/">Add/Change Rotation</a></li>
        <li><a href="#" class="current">Splits and Rules</a></li>
    </ul>
{% endblock  %}
{% block header2 %}
    <h2><strong>Rotation Configuration </strong> </h2>
{% endblock %}
{% block content %}
    <h2>Coming Soon: Rotation Split and Rule Setup Features</h2>

{% endblock %}